@import "../mixins";

#objectif {

    h1,
    p {
        font-size: 1.2em;
    }

    h2 {
        font-size: 3.5em;
    }
}


@media screen and (max-width: 435px) {
    .flexCardAround {
        flex-direction: column;
    }
}