@import "@/app/mixins";

#regime-card {
    @include cardStyle();
    @include flexColumn();
    @include alignCenter();
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 4px 4px 8px 0px var(--icone-color);
        box-shadow: 4px 4px 8px 0px var(--icone-color);
    }

    img {
        @include imageCard();
    }



    #image-content-regime {
        @include imageContent();
    }
}