@import "@/app/mixins";

#navigation {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 350px;
    border-radius: 0 50px 50px 0;
    background: var(--background-one);
    @include justifyBetween();
    font-size: 1.2em;
    overflow-y: hidden;

    a,
    .isActive {
        @include flexAlignCenter();
        padding: .6em 0;
        gap: 1em;
        position: relative;

    }

    .isActive {
        border-radius: 50px 0 0 50px;
        background-color: var(--background-two);
        // transition: .3s;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: transparent;
            right: 0;

        }

        &::before {
            top: -20px;
            border-bottom-right-radius: 25px;
            box-shadow: 5px 5px 0 5px var(--background-two);
        }

        &::after {
            bottom: -20px;
            border-top-right-radius: 25px;
            box-shadow: 5px -5px 0 5px var(--background-two);
        }
    }

    div {
        gap: 1em;
        padding-left: 1.2em;
    }

    span {
        padding-left: 0.5em;
        color: var(--icone-color);
        font-size: 1.2em;
        // opacity: 0.2;
    }
}

#navigation,
#nav-items,
#nav-login {
    @include flexColumn()
}