@import "@/app/mixins";

nav {
    position: fixed;
    width: 350px;
    height: 100vh;
    border-radius: 0 50px 50px 0;
    background: var(--background-one);
    @include justifyBetween();

    span {
        color: var(--icone-color);
    }
}

nav,
div {
    @include flexColumn()
}

// .icone-color {

// }