@import "@/app/mixins";

.top-bar {
    @include flexJustifyBetween();
    padding: 1.5em;

    input {
        background-color: var(--background-one);
        padding: .4em;
        border-radius: .5em;
    }

    #top-bar-title {
        h1 {
            color: var(--icone-color);
            font-weight: 500
        }
    }

    #top-bar-title,
    #top-bar-info {
        @include flexAlignCenter();
        gap: 4em;
    }
}