@import "../mixins";

#bien-etre-content {
    p {
        font-size: 1.2rem;
        margin-top: 1.7em;
        text-align: center;
    }
}

h2,
.titleOne {
    color: var(--icone-color);
}

h3 {
    color: var(--third-text-color);
}