@import "../mixins";

#bien-etre-content {
    p {
        font-size: 1.2rem;
        margin-top: 1.7em;
        text-align: center;
        transition: 0.2s ease-in-out;

        &:hover {
            color: var(--icone-color);
        }
    }
}

h2,
.titleOne {
    color: var(--icone-color);
}

h3 {
    color: var(--third-text-color);
}