@import "@/app/mixins";

#result {
    background-color: var(--background-one);
    max-width: 550px;
    margin: 3em auto 0 auto;
    border-radius: 1rem;
    padding: 1em;

    h1,
    p {
        text-transform: uppercase;
    }

    h1 {
        font-size: 1.8em;
    }

    p,
    span {
        font-size: 1.1em;
    }

    .result-content {
        @include flexAlignCenter();
        gap: 1em;
        padding: 1.5em;
    }
}